logs
project/project
project/target
target
tmp
.history
dist
/.idea
/.run
/.vscode
/.metals
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
.bloop/
.bsp
*.sc
**/.attach*
metals.sbt
